body {
    width: 100%;
    height: 350vh;
    background-image: url("images/background_home.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.nodal-button img {
    display: inline-block;
    width: 300px;
    height: auto;
    margin-top: 490px;
    margin-left: 270px;

}