.nodal-button {
    display: inline-block;
    background-color: #0074d9;
    /* Button background color */
    color: #fff;
    /* Text color */
    padding: 10px 20px;
    /* Padding around the button text */
    border: none;
    /* Remove border */
    text-align: center;
    text-decoration: none;
    /* Remove underline */
    border-radius: 5px;
    /* Rounded corners */
}